<!DOCTYPE html>
<html>
	<head>
		<title>PlaylistMerge</title>
		<link rel="shortcut icon" href="/purplenote.svg"/>
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<% if user_signed_in? %>
			<%= yield %>
		<% else %>
		  <%= link_to "Sign in with Spotify", user_omniauth_authorize_path(:spotify) %>
		<% end %>
	</body>
</html>
